@import "../../../theme/theme.scss";

.card {
    margin-top: 30%;
    height: auto;
    // cursor: pointer;
}

.dashboard_box h5.title:before {
    content: '';
    position: absolute;
    height: 3px;
    width: 44px;
    background: $primary;
    top: 120px;
}

.red-icon {
    color: $card-icons-color;
}

.disrec {
    height: 26px;
    width: 26px;
    margin: 20px 0 30px 5px !important;
}

.disrecom {
    margin-left: 15px;
}

.scenplan {
    margin-left: 5px;
}

.feedsel {
    position: relative;
    right: 10px;
}

.dicsplit {
    float: left;
    height: 500px;
    padding-right: 0;
}

.dsdiv {
    margin-top: 5px;
}

.otherdiv {
    padding-left: 0;
}
.fccard {
    margin-right: 15px;
}

.dashboard_box .title {
    margin-bottom: unset;
    color: $black-1;
    font-size: 20px;
}

.dashboard_box {
    margin-bottom: 30px !important;
    margin-left: 6px;
}

.content {
    font-size: 14px;
    margin-top: 40px;
    color: $black-1;
    opacity: 0.8;
    text-align: left;
}

.borderdash {
    border-right: 1px dashed $gray-2;
    opacity: 0.7;
}

@media only screen and (max-width: 580px) {

    .dashboard_box p.content:before,
    .borderdash {
        display: none;
    }

    .mobile_menu_list {
        z-index: 9999 !important;
    }
}

.dashboard_box_icons {
    margin-top: -10px;
}
.main-card-bg{
    background-color: $main-card-bg !important;
}
.secondarybutton{
    margin-top: 40px;
    height: 48px;
    padding: 15px;
}
.row{
    margin-left: 40px;
    margin-right: 40px;
}